<p>
<div id = "left">
	username<br/>
	logout<br/>
	
	Menu<br/><br/>
	Enter Hours <br/>
	Send Message <br/>
	Run Reports<br/>
	Change PAssword<br/>
</div>

<div id = "right">
	Messages<br/><br/>
	No messages <br/>
</div>
	
<div id = "center">
	Choose from the menu options on the left screen<br/> <br/>
</div>
 	
	
</p>
