<div id="inner">
	
<div id="left">
		<div id="leftalign">
		Username:<br/>
		Logout<br/><br/>
		Enter Hours<br/>
		Send Message<br/>
		Run Reports<br/>
		Change Password<br/>
	</div>	
	</div>
	
	<div id="right">
		<div id="rightalign">
			<br/>
			Messages<br/><br/>
			No Messages<br/>
			</div>
			</div>

			
	<div id = "center">
	Choose from the menu options on the left screen<br/> <br/>
</div>


<div id="core_center">
	make your choices now, silly<br/><br/><br/><br/>
	</div>
</div>
</div>

	


