<head>
<title><%=@title%></title>
</head>

<h1><%=@title%></h1>
<p>This is the home page for the Walters Consturction Web Application</p>
<br/>
<br/>
<p>
<a href="emp_hours">Link to emp_hours</a><br/>
<a href="emp_home">Link to emp_home</a><br/>
</p>
