<p>
	<nav class = "banner">This is the home page for the Walters Consturction Web Application
		</nav>
		</p>
<br/>
<br/>
<div id="container">
	<div id="inner">
		<div id = "left"></div>
<p>
<a href="emp_hours">Link to emp_hours</a><br/>
<a href="emp_home">Link to emp_home</a><br/>
</p>
</div>
</div>
</div>
