<p>
	<div id = "banner">Walters Construction</div>
		</p>
<br/>
<br/>
<div id="container">
	<p> Please log in<p/>
	<br/>
	<br/>	
    
	<div id="center">
	<form method="post" name="userLogin" action="pwdCheck">
      <label id="Username">Username: </label><input name="user" id="user" type="text" size="25">
      <br/>
      <br/>
      <label id="password">Password: </label><input name="pword" id="pword" type="password" size="20">
      <br/>
      <br/>
		<div id = "left"></div>

</div>
</div>
</div>
