
	<div id = "banner">Walters Construction<br/>If we can't build it, you dont need it!'</div>


<div id="container">

  <div id="center"><br/>Please log in<br/><br/></div>
	<br/>
	<br/>	
    
	<div id="core_center">
	<form method="post" name="userLogin" action="pwdCheck">
      <label id="Username">Username: </label><input name="user" id="user" type="text" size="35"/>
      <br/>
      <br/>
      <label id="password">Password: </label><input name="pword" id="pword" type="password" size="35"/>
      <br/>
      <br/>
      <input name="submit" type="submit" value="submit"/>
      <br/>
      <br/>
		<div id = "left"></div>

</div>
</div>
</div>
