<style type="text/css">


html,body  {
  margin:0px;
  padding:0px;
  background: #fff;
	}
	
#banner {
  background-color: #999999;
  height:75px;
  position:static;
  text-align:	center;
  font-size:24pt;	
}

#container  {
  position:relative;
  display:block;
  background: aqua;
  border-right: 200px solid #804510;
  border-left: 200px solid #804510;	
  background-color:#b07530;
}

#inner {
  display:block;
  margin-left:-200px;
  margin-right:-200px;	
	
}


#left {
  position:relative;
  width:196px;
  float:left;
  left::0px;
}

#right { 
  float:right;
  position:relative;
  width: 200px;
  right:0px;
  margin-left:5px;
  margin-right:5px;

	
}

#center {
  background-color:#dddddd ;
  position:relative;
  margin-left:00px;
  margin-right:00px;
  float:none;
  display: block;
  height: 1%;
  font-size:26pt;
  text-align:center;
}

#core {

  position:relative;
  float:none;
  margin-left: 200px;
  margin-right: 200px;
  background-color:#b07530;
}

#core_center {
	position:relative;
    text-align: center;
}

.clear {
	clear:both;
}

#rightalign {	
margin-left:15px;
margin-right:15px;
}

#leftalign {
text-align:center;
}

#onesixpoint {
  font-size:16pt;
}

h2 {
  background-color:#fff;
  border-style:inset;
  text-align: center;
  margin-right: 4px;
  margin-left: 4px;
}

h3 {
  background-color:#fff;
  border-bottom-style:outset;
  text-align:center;
}

</style>
